<script src="~/js/modal.js"></script>
<div class="row">
    <div class="col-12 d-flex flex-row bg-secondary">
        <img src="/th.jpg" class="img-fluid m-3" alt="Inception" />
        <div class="bg-secondary">
            <h1 class="text-light">Inception</h1>
            <p>Cobb, a skilled thief who commits corporate espionage by infiltrating the
            for a task considered to be impossible: " inception ", the implantation of another
            Person's idea into a target's subconscious.</p>
        </div>
        <div class="d-flex flex-row align-content-center">
            <button class="btn btn-outline-light" id="review-open">Review</button>
            <button class="btn btn-outline-light" id="buy-open">Buy</button>
        </div>
    </div>
    <partial name="_Review" />
    <partial name="_Buy" />
    <div class="col-6 d-flex flex-column p-5">
        <h3 class="text-center">Movie Facts</h3>
        <div class="d-flex flex-row">
            <p class="p-4">Release Date</p>
            <p class="p-4">July 15, 2010</p>
        </div>
        <div class="d-flex flex-row">
            <p class="p-4">Run Time</p>
            <p class="p-4">148m</p>
        </div>
        <div class="d-flex flex-row">
            <p class="p-4">Box Office</p>
            <p class="p-4">$825,532,764</p>
        </div>
        <div class="d-flex flex-row">
            <p class="p-4">Budget</p>
            <p class="p-4">$160,000,080</p>
        </div>
    </div>
    <div class="col-6 d-flex flex-column p-5">
        <h3 class="text-center">Cast</h3>
        <div class="d-flex flex-row">
            <p class="m-4">Leonardo DiCaprio</p>
            <p class="m-4">Dom Cobb</p>
        </div>
        <div class="d-flex flex-row">
            <p class="m-4">Ken Watanbe</p>
            <p class="m-4">Mr. Saito</p>
        </div>
        <div class="d-flex flex-row">
            <p class="m-4">Joseph Gordon-Levit</p>
            <p class="m-4">Arthur</p>
        </div>
        <div class="d-flex flex-row">
            <p class="m-4">Marion Cotillard</p>
            <p class="m-4">Mal Cobb</p>
        </div>
        <div class="d-flex flex-row">
            <p class="m-4">Elliot Page</p>
            <p class="m-4">Ariadne</p>
        </div>
        <div class="d-flex flex-row">
            <p class="m-4">Tom Hardy</p>
            <p class="m-4">Zak Fame</p>
        </div>
        <div class="d-flex flex-row">
            <p class="m-4">Cillian Murphy</p>
            <p class="m-4">Robert Fishce</p>
        </div>
    </div>
</div>